.tile{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.black-tile{
    background-color: var(--main-dark-green);
}

.white-tile{
    background-color: var(--main-light-green);
}

.selected {
    background-color: #BBCB2B;
}

.available-move{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    border-radius: 50%;
    width: 50%;
    height: 50%;
}

.capturable{
    background-color: var(--main-red);
}

.tile img{
    width: 80%;
    height: 80%;
}

