.tile{
    display: flex;
    justify-content: center;
    align-items: center;
}

.black-tile{
    background-color: #769656;
}

.white-tile{
    background-color: #EEEED2;
}

.tile img{
    width: 80%;
    height: 80%;
}
