.move-list{
  height: 50%;
  overflow-y: scroll;
  overflow: auto;
}

::-webkit-scrollbar {
  height: 0.8rem;
  width: 0.8rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.45);
  -webkit-border-radius: 10rem;
}

.scrollbar-obtrusive ::-webkit-scrollbar-track {
  background-color: transparent;
}

.title{
  margin-left: 20px;
}