body {
    font-family: 'Fauna One', sans-serif;
    background-color: #F6F8FA;
    color: #5C6173;
    /* background-image: linear-gradient(to right, #4F6A75, #5A6F78, #70797A, #848786, #70797A, #5A6F78, #4F6A75); */
}

h1 {
    color: #ffffff;
    text-align: center;
    margin: 50px 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-family: 'Cinzel', serif;
    font-size: 90px;
}

.highscore-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-items: center;
    color: #ffffff;
    background-image: linear-gradient(to right, #4F6A75, #5A6F78, #70797A, #848786, #70797A, #5A6F78, #4F6A75);
}

.table-wrapper {
    width: 70%;
    margin: 0 auto;
    table-layout: fixed;
}
td {
    width: .4%;
    text-align: center;
    margin-top: 15px;
    padding-top: 20px;
  }

.heading {
    font-family: 'Fauna One', serif;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}