.modal {
  background-color: white;
  font-size: 12px;
  height: 500px;
  width: 300px;
}
.modal > .header {
  width: 100%;
  font-size: 30px;
  text-align: center;
  font-weight: 500;
  padding: 40px 5px 5px 5px;
}
.modal > .content {
  width: 100%;
  text-align: center;
  font-weight: 200;
  font-size: 20px;
  padding: 10px 5px;
}

.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  right: 0px;
  top: 0px;
  font-size: 24px;
  border: 0px;
  background-color: transparent;
}