.room-container{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.room-heading {
    font-size: 2em;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #769656;
}

.waiting-message {
    font-size: 1em;
    margin: 0;
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.lds-ring {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 60px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  margin: 8px;
  border: 4px solid #769656;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #769656 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
