#in-game{
    display: flex;
    place-content: center;
    align-items: stretch;
    margin: 5px;
}

#board{
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
}

#info-tab{
  background-color: var(--main-dark-gray);
  margin: 0px 20px;
  flex-grow: 1;
  border-radius: 10px;
}